[run]
source =
    # odp-core
    odp.config
    odp.const
    odp.logger
    odp.schema
    odp.version
    # odp-server
    odp.api
    odp.catalog
    odp.db
    odp.identity
    odp.lib

branch = True

[report]
exclude_lines =
    pragma: no cover
    assert False
