[run]
source =
    # odp-core
    odp.config
    odp.const
    odp.logfile
    odp.schema
    odp.version
    odp.lib.cache
    odp.lib.datacite
    odp.lib.hydra

    # odp-server
    odp.api
    odp.catalog
    odp.db
    odp.identity
    odp.lib.auth
    odp.lib.exceptions
    odp.lib.schema

branch = True

[report]
exclude_lines =
    pragma: no cover
    assert False
