[run]
source =
    # odp-core
    odp.api.models
    odp.config
    odp.const
    odp.lib.cache
    odp.lib.client
    odp.lib.datacite
    odp.lib.hydra
    odp.logfile
    odp.schema
    odp.version

    # odp-server
    odp.api.lib
    odp.api.main
    odp.api.routers
    odp.catalog
    odp.db
    odp.identity
    odp.lib.auth
    odp.lib.exceptions
    odp.lib.schema

branch = True

[report]
exclude_lines =
    pragma: no cover
    assert False
