[submodule "jschon"]
	path = jschon
	url = https://github.com/marksparkza/jschon.git
	branch = odp-package-support
[submodule "jschon-translation"]
	path = jschon-translation
	url = https://github.com/marksparkza/jschon-translation.git
