-e file:odp-core

sqlalchemy
psycopg2
alembic
argon2-cffi
pyyaml
fastapi
pydantic
starlette
jschon
jschon_translation
redis
authlib
flask
flask-mail
flask-wtf
wtforms
email-validator
bootstrap-flask
werkzeug
itsdangerous
ory-hydra-client==1.11.7
requests

# build
uvicorn
gunicorn
pytest
coverage
factory-boy
faker
sqlalchemy-utils
