-e file:../odp-core
-e file:../odp-ui

sqlalchemy
psycopg2
alembic
argon2-cffi
pyyaml
fastapi
pydantic<2
starlette
jschon
jschon-translation
redis
authlib
flask
flask-mail
wtforms
email-validator
werkzeug
itsdangerous
requests

# deployment
uvicorn
gunicorn

# testing
pytest
coverage
factory-boy
faker
sqlalchemy-utils
httpx
