{% extends 'layout.html' %}
{% from 'lib.j2' import bootswatch_flatly_css, bootswatch_spacelab_css %}
{% from 'page.j2' import nav_logo, nav_title, nav_menu, footer %}

{% block web_title %}
    {% if brand == 'saeon' %}
        SAEON ODP
    {% elif brand == 'nccrd' %}
        NCCRD
    {% elif brand == 'sadco' %}
        SADCO
    {% endif %}
{% endblock %}

{% block favicon %}
    {% if brand == 'saeon' %}
        {{ super() }}
    {% elif brand == 'nccrd' %}
        <link rel="icon" href="{{ url_for('static', filename='images/sa-favicon.ico') }}">
    {% elif brand == 'sadco' %}
        <link rel="icon" href="{{ url_for('static', filename='images/mims-icon-32x32.png') }}">
    {% endif %}
{% endblock %}

{% block header %}
    {% if brand == 'saeon' %}
        <nav class="navbar navbar-expand-lg bg-primary navbar-dark p-3">
            <div class="container-fluid">
                <div class="navbar-nav justify-content-start flex-grow-evenly">
                    {{ nav_logo() }}
                </div>
                <div class="navbar-nav justify-content-center">
                    {{ nav_title(title_view=none) }}
                </div>
                <div class="navbar-nav justify-content-end flex-grow-evenly">
                    {{ nav_menu() }}
                </div>
            </div>
        </nav>

    {% elif brand == 'nccrd' %}
        <nav class="navbar navbar-expand-lg bg-white p-4">
            <div class="container-fluid">
                <div class="navbar-nav justify-content-start flex-grow-evenly">
                    {{ nav_logo(image='dffe-logo.png', url='https://www.dffe.gov.za/') }}
                </div>
                <div class="navbar-nav justify-content-center">
                    {{ nav_title(title='National Climate Change Response Database', title_view=none) }}
                </div>
                <div class="navbar-nav justify-content-end flex-grow-evenly">
                    {{ nav_logo(image='sa-flag.jpg', url=none, right=true) }}
                </div>
            </div>
        </nav>
        <hr class="m-0"/>

    {% elif brand == 'sadco' %}
        <nav class="navbar navbar-expand-lg bg-white p-4">
            <div class="container-fluid">
                <div class="navbar-nav justify-content-start px-4 flex-grow-evenly">
                    {{ nav_logo(image='sadco-logo.png', url=None) }}
                </div>
                <div class="d-flex flex-column navbar-nav justify-content-center mims-logo-color fs-5">
                    <span class="fw-semibold text-center">Southern African Data Centre for Oceanography</span>
                    <span class="text-center">Southern Africa's historical oceans and coastal data archive</span>
                </div>
                <div class="navbar-nav justify-content-end flex-grow-evenly">
                    {{ nav_logo(image='dffe-logo.png', url='https://www.dffe.gov.za/') }}
                </div>
            </div>
        </nav>
        <hr class="m-0"/>
    {% endif %}
{% endblock %}

{% block main %}
    <main class="flex-grow-1 mx-4">
        <div class="container p-4" style="width: 410px">
            <p class="h3">
                {% block heading %}
                {% endblock %}
            </p>
            <div class="p-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    {% if brand == 'saeon' %}
        {{ footer(
            color='light', hr=False,
            repos=['odp-server', 'odp-core', 'odp-ui']
        ) }}
    {% elif brand == 'nccrd' %}
        {{ footer(
            repos=['odp-server', 'odp-core', 'odp-ui']
        ) }}
    {% elif brand == 'sadco' %}
        {{ footer(
            repos=['odp-server', 'odp-core', 'odp-ui', 'sadco-server', 'sadco-catalog']
        ) }}
    {% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    {% if brand == 'sadco' %}
        {{ bootswatch_spacelab_css() }}
    {% else %}
        {{ bootswatch_flatly_css() }}
    {% endif %}
{% endblock %}
