{% extends 'layout.html' %}
{% from 'lib.j2' import bootswatch_flatly_css %}
{% from 'page.j2' import nav_logo, nav_title, nav_menu, footer %}

{% block web_title %}
    {% if brand == 'saeon' %}
        SAEON ODP
    {% elif brand == 'nccrd' %}
        NCCRD
    {% endif %}
{% endblock %}

{% block favicon %}
    {% if brand == 'saeon' %}
        {{ super() }}
    {% elif brand == 'nccrd' %}
        <link rel="icon" href="{{ url_for('static', filename='sa-favicon.ico') }}">
    {% endif %}
{% endblock %}

{% block header %}
    {% if brand == 'saeon' %}
        <nav class="navbar navbar-expand-lg bg-primary navbar-dark p-3">
            <div class="container-fluid">
                <div class="navbar-nav justify-content-start" style="flex-basis:0; flex-grow:1">
                    {{ nav_logo() }}
                </div>
                <div class="navbar-nav justify-content-center">
                    {{ nav_title(endpoint=None) }}
                </div>
                <div class="navbar-nav justify-content-end" style="flex-basis:0; flex-grow:1">
                    {{ nav_menu() }}
                </div>
            </div>
        </nav>

    {% elif brand == 'nccrd' %}
        <nav class="navbar navbar-expand-lg bg-white p-4">
            <div class="container-fluid">
                <div class="navbar-nav justify-content-start" style="flex-basis:0; flex-grow:1">
                    {{ nav_logo(file='dffe-logo.png', url='https://www.dffe.gov.za/') }}
                </div>
                <div class="navbar-nav justify-content-center">
                    {{ nav_title(title='National Climate Change Response Database', endpoint=None) }}
                </div>
                <div class="navbar-nav justify-content-end" style="flex-basis:0; flex-grow:1">
                    {{ nav_logo(file='sa-flag.jpg', url=None, right=True) }}
                </div>
            </div>
        </nav>
        <hr class="m-0"/>
    {% endif %}
{% endblock %}

{% block main %}
    <main class="flex-grow-1 mx-4">
        <div class="container p-4" style="width: 410px">
            <p class="h3">
                {% block heading %}
                {% endblock %}
            </p>
            <div class="p-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    {% if brand == 'saeon' %}
        {{ footer(color='light', hr=False) }}
    {% elif brand == 'nccrd' %}
        {{ footer() }}
    {% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    {{ bootswatch_flatly_css() }}
{% endblock %}
