{% from 'forms.j2' import render_field %}

{% macro render_form(form, token, submit_target, submit_label) %}
    <form action="{{ url_for(submit_target, token=token) }}" method="post">
        {{ form.csrf_token }}
        {% for field in form if field.id != 'csrf_token' %}
            {{ render_field(field) }}
        {% endfor %}
        <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary">
                {{ submit_label }}
            </button>
        </div>
    </form>
{% endmacro %}

{% macro render_single_button_form(token, submit_target, submit_label, btn_outline=False) %}
    <form action="{{ url_for(submit_target, token=token) }}" method="post">
        <div class="d-grid">
            <button type="submit" class="btn btn-{{ 'outline-' if btn_outline }}primary">
                {{ submit_label }}
            </button>
        </div>
    </form>
{% endmacro %}
