{% extends 'base.html' %}
{% from 'id_macros.j2' import render_form, render_single_button_form %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Log in
    {% endblock %}
{% endblock %}

{% block content %}
    {{ render_form(form, token, 'login.login', 'Log in') }}
    <hr class="my-4"/>
    <p class="text-center">
        Don't have an account yet?
        <a href="{{ url_for('signup.signup', token=token) }}" class="text-decoration-none">
            Sign up
        </a>
        <br/>
        <a href="{{ url_for('login.forgot_password', token=token) }}" class="text-decoration-none">
            Forgot your password?
        </a>
    </p>
    {% if enable_google and brand in ['saeon', 'sadco'] %}
        <hr class="my-4"/>
        <p class="h6">
            SAEON staff
        </p>
        <p>
            Log in with your @saeon.nrf.ac.za account
        </p>
        {{ render_single_button_form(token, 'google.authorize', 'Log in via Google', True) }}
    {% endif %}
{% endblock %}
