{% extends 'base.html' %}
{% from 'id_macros.j2' import render_form, render_single_button_form %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Create an account
    {% endblock %}
{% endblock %}

{% block content %}
    {{ render_form(form, token, 'signup.signup', 'Sign up') }}
    <hr class="my-4"/>
    <p class="text-center">
        Already have an account?
        <a href="{{ url_for('login.login', token=token) }}" class="text-decoration-none">
            Log in
        </a>
    </p>
    {% if enable_google and brand in ['saeon', 'sadco'] %}
        <hr class="my-4"/>
        <p class="h6">
            SAEON staff
        </p>
        <p>
            Sign up with your @saeon.nrf.ac.za account
        </p>
        {{ render_single_button_form(token, 'google.authorize', 'Sign up via Google', True) }}
    {% endif %}
{% endblock %}
